<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="h1 my-4">Policies List</div>
  <table class="table table-sm table-hover table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Policy Number</th>
      <th>Start Date</th>
      <th>Insured</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let policy of (state | async).policies; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{policy.policyNumber}}</td>
        <td>{{policy.startDate | date: 'dd/MM/yyyy' }}</td>
        <td><a (click)="showInsured(customers, policy.policyNumber, policy.insured)" style="cursor: pointer;">View</a></td>
      </tr>
    </tbody>
  </table>
  <ng-template #customers let-c="close" let-d="dismiss" let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Insured for policy No. {{policyNumber}}</h5>
      <button class="close" (click)="d()" style="cursor: pointer;">&times;</button>
    </div>
    <div class="modal-body">
      <table class="table-sm table-hover table-striped">
        <thead>
        <tr>
          <th>#</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of (state | async).insured; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td>{{customer.lastName}}</td>
          <td>{{customer.firstName}}</td>
          <td>{{customer.address}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="d()" style="cursor: pointer;">Dismiss</button>
    </div>
  </ng-template>
</div>
